<!DOCTYPE HTML>

<html>
	<head>
		<% include ./common/head %>
	</head>
	<body>

	<!-- Header -->
		<% include ./common/header %>
	<!-- /Header --> 

        <!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">
					<div id="content" class="container">
						<section>
							<header>
								<h2>금일 곡</h2>
								<span class="byline">한요한 - 불꽃 (Feat. 조현아 Of 어반자카파)</span>
							</header>
							<p>오늘 하룬 어때
								울고 자면 두통이란 녀석 옆에서
								너를 괴롭혀
								너는 외로워
								라면 박스 안에
								니 짐 넣으면서 내 기억도 함께 넣었어
								너는 무거워
								남사친 불러둬
								니 냄새 좀 떠나줄래 캔들을 켜
								난 흔들리는 불 넌 그 속에 꽃
								우린 춤을 추고 또
								서로를 태워가죠 yeah
							</p>
							<p>
								발버둥 치는 연기를 봐
								그게 나야 내 20대를 너에게 다 태웠죠
								가까이 가면 다칠 거야
								나는 불 내 마음속은 이미 전부 탔어
								여전히 너는 나에게 꽃
								내 깊은 곳 안에 춤을 추다 사라져
								그래 이게 내 노래의 제목
								우리 타버리기 전에
							</p>
							<p>
								나는 니 앞에서 놓아버렸어
								우리 위험하죠 그냥 버려줘
								이건 너와 내가 감당 못해 불꽃이야
								우린 그 속에서 춤을 또 추다가
								서로에게 더 큰 화상을 입히고 또
								결국 태워 소멸될 거야 우린 불꽃
								우린 불꽃
								우린 불꽃
								서로에게 더 큰 화상을 입히고 또
							</p>
							<p>
								오늘 하룬 어때
								다시 떠오르는 기억 옆에서
								너를 괴롭혀
								너는 괴로워
								전부 사라지게 날 놓아줘
								넌 흔들리는 불 난 그 속에 꽃
								우린 춤을 추고 또
								서로를 태워가죠 yeah
							</p>
							<p>
								발버둥 치는 불꽃을 봐
								너와 나야 내 20대를 너에게 다 태웠죠
								가까이 가면 다칠 거야
								너는 불 알면서도 너를 안아줬어
								여전히 너는 나에게 또
								내 깊은 곳 안에 너를 두고 사라져
								그래 너를 내게 남긴 채로
								우리 타버리기 전에
							</p>
							<p>
								나는 니 앞에서 놓아버렸어
								우리 위험하죠 그냥 버려줘
								이건 너와 내가 감당 못해 불꽃이야
								우린 그 속에서 춤을 또 추다가
								서로에게 더 큰 화상을 입히고 또
								결국 태워 소멸될 거야 우린 불꽃
								우린 불꽃
								우린 불꽃
								서로에게 더 큰 화상을 입히고 또
								결국 태워 소멸될 거야
								(태워 소멸될 거야)
								결국 태워 소멸될 거야
								(태워 소멸될 거야)
								우리 다시 춤을 출 거야
								(다시 춤을 출 거야)
								다시 너를 사랑할 거야
								우린 불꽃</p>							
		
						</section>
					</div>
					

				</div>
			</div>
		</div>
	<!-- /Main -->
        
    </body>
    
    <% include ./common/footer %>
</html>