<!DOCTYPE HTML>
<html>
	<head>
		<% include ../common/head %>
	</head>
	<body>

	<!-- Header -->
		<% include ../common/header %>
	<!-- /Header --> 

        <!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">
					<div id="content" class="container">
						<section>
							<header>
								<h2>추가하기</h2>
								<span class="byline">*는 필수 입력 사항입니다.</span>
                            </header>
                            <div class="wrap-table100">
                                <table>
                                    <thead>
                                        <tr>번호</tr>
                                        <tr>가수</tr>
                                        <tr>노래제목</tr>
                                        <tr>등록자</tr>
                                        <tr>비고</tr>
                                    </thead>
                                    <tbody>
                                        <td class="column1"> 1 </td>
                                        <td class="column2"> test1 </td>
                                        <td class="column3"> test1 </td>
                                        <td class="column4"> test1 </td>
                                        <td class="column5"> test1 </td>
                                        <td class="column6"> test1 </td>
                                    </tbody>
                                </table>
                            </div>
							<p></p>
		
						</section>
					</div>
					

				</div>
			</div>
		</div>
	<!-- /Main -->
        
    </body>
    
    <% include ../common/footer %>
</html>