<!DOCTYPE HTML>
<html>
	<head>
        <% include ../common/head %>
        
        <script>
            $(document).ready(function(){
                $('.each_tr').on("click", function(){
                    var idx = $(this).find(".column1").text();
                    alert("/boardDetail/"+idx);
                    location.href = "/boardDetail/" + idx;
            }   );
            });

            function move(cd){
                var url = ""; 

                if(cd == "I"){
                    url = "/board/boardInsert";
                } else if(cd == "D"){
                    url = "/board/boardDelete";
                }
            }

            function detail(idx){
                location.href = "/boardDetail/" + idx;
            }

            
        </script>
	</head>
	<body>

	<!-- Header -->
		<% include ../common/header %>
	<!-- /Header --> 

        <!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row">
					<div id="content" class="container">
						<section>
							<header>
								<h2>곡 게시판</h2>
								<span class="byline">음악을 등록해주세요.</span>
                            </header>
                            <div class="wrap-table100">
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <th class="column1">번호</th>
                                            <th class="column2">가수</th>
                                            <th class="column3">노래제목</th>
                                            <th class="column4">등록자</th>
                                            <th class="column5">날짜</th>
                                            <th class="column6">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="each_tr">
                                            <td class="column1"> 1 </td>
                                            <td class="column2"> test1 </td>
                                            <td class="column3"> test1 </td>
                                            <td class="column4"> test1 </td>
                                            <td class="column5"> test1 </td>
                                            <td class="column6"> test1 </td>
                                        </tr>
                                        <tr class="each_tr">
                                            <td class="column1"> 2</td>
                                            <td class="column2"> test2 </td>
                                            <td class="column3"> test2 </td>
                                            <td class="column4"> test2 </td>
                                            <td class="column5"> test2 </td>
                                            <td class="column6"> test2 </td>
                                        </tr>
                                        <tr class="each_tr">
                                            <td class="column1"> 3 </td>
                                            <td class="column2"> test3 </td>
                                            <td class="column3"> test3 </td>
                                            <td class="column4"> test3 </td>
                                            <td class="column5"> test3 </td>
                                            <td class="column6"> test3 </td>
                                        </tr>
                                        <tr class="each_tr">
                                            <td class="column1"> 4 </td>
                                            <td class="column2"> test4 </td>
                                            <td class="column3"> test4 </td>
                                            <td class="column4"> test4 </td>
                                            <td class="column5"> test4 </td>
                                            <td class="column6"> test4 </td>
                                        </tr>
                                        <tr class="each_tr">
                                            <td class="column1"> 5 </td>
                                            <td class="column2"> test5 </td>
                                            <td class="column3"> test5 </td>
                                            <td class="column4"> test5 </td>
                                            <td class="column5"> test5 </td>
                                            <td class="column6"> test5 </td>
                                        </tr>

                                    </tbody>
                                </table> 						
                            </div>
						</section>
                    </div>
                    
                    <input type="button" id="insertBtn" name="insertBtn" value="음악등록" class="button button-style1"/>
					

				</div>
			</div>
		</div>
	<!-- /Main -->
        
    </body>
    
    <% include ../common/footer %>
</html>